# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# TensorFlow / Keras / model files
*.h5

*.pb
*.ckpt

# CSV / data files (optional: include if large or generated)
data.csv

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python test cache
.pytest_cache/


# Local scripts and model files
check_gpu.py
trig_model.keras